.wrapper{
  font-size: 2.0rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  font-size: 5.0rem;
  margin-bottom: 20px;
}

.sub {
  color: #777777;
}
