.wrapper {
  height: 100%;
  box-sizing: border-box;
}

.title {
  font-size: 5.0rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.graph {
  width: 90%;
  height: 400px;
  margin: 0 auto;
}
